<%= render 'shared/errors', resource: @badge %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= t('.image') %></th>
      <th><%= t('.name') %></th>
      <th colspan="2"><%= t('.actions') %></th>
    </tr>
 </thead>

  <%= render @badges %>
</table>

<p>
  <%= link_to t('.new_badge'), new_admin_badge_path, class: "btn btn-primary btn-sm" %>
</p>
