<h1>Passing the <%= @test_passage.test.title %> Test</h1>

<%= @test_passage.position_of_current_question %> / <%= @test_passage.all_questions %><br>

<b>
  <%= @test_passage.current_question.body %>
</b>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids,
                                  @test_passage.current_question.answers,
                                  :id,
                                  :body,
                                  include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>
  <%= form.submit 'Next' %>
<% end %>
