<h1><%= t('.passing')%> <%= @test_passage.test.title %></h1>

<%= @test_passage.position_of_current_question %> / <%= @test_passage.all_questions %><br>

<%= content_tag :span, 
                class: 'progress-bar align-middle', 
                data: { position_of_current_question: @test_passage.position_of_current_question, 
                        all_questions: @test_passage.all_questions } do %>
<% end %>

<%= t('.timer') %>
  <div class="timer" data-timer="<%= @test_passage.time_left %>">
    <div>
      <%= @test_passage.time_left %>
    </div>
  </div>

<p>
  <b><%= @test_passage.current_question.body %></b>
</p>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids,
                                  @test_passage.current_question.answers,
                                  :id,
                                  :body,
                                  include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p>
    <%= link_to 'Gist question', 
                gist_test_passage_path(@test_passage), 
                method: :post %>
  </p>

  <p>
    <%= form.button 'Next', id: 'next_button', type: "submit" %>
  </p>
<% end %>
