<% if user_signed_in? %>
  <div class='nav'>
    <p>
      <%= t('.panel', name: current_user.first_name) %> <%= link_to 'Guru', root_path %>
    </p>

    <p>
      <%= link_to t('.exit'), destroy_user_session_path, method: :delete %>
    </p>
  </div>
<% else %>
  <p class='nav'>
    <%= link_to t('.signup'), new_user_registration_path %>
    <%= link_to t('.login'), new_user_session_path %> 
  </p>
<% end %>
