<% if logged_in? %>
  <div class='nav'>
    <p>
      Welcome, <b><%= current_user.name %></b> <%= link_to 'Guru', root_path %>
    </p>

    <p>
      <%= link_to 'Exit', logout_path, method: :post %>
    </p>
  </div>
<% else %>
  <p class='nav'>
    <%= link_to 'Signup', signup_path %>
    <%= link_to 'Login', login_path %> 
  </p>
<% end %>
