<% if user_signed_in? %>
  <div class="navbar sticky-top navbar-light bg-light px-5">
    <p>
      <%= t('.panel', name: current_user.first_name) %> <%= link_to 'Guru', root_path %>
    </p>

    <p>
      <%= link_to t('.exit'), destroy_user_session_path, method: :delete %>
    </p>
  </div>
<% else %>
  <p class="navbar sticky-top navbar-light bg-light px-3">
    <%= link_to t('.signup'), new_user_registration_path %>
    <%= link_to t('.login'), new_user_session_path %> 
  </p>
<% end %>

<% if current_user&.admin? %>
  <div class="navbar sticky-top navbar-light bg-light px-5">
    <%= link_to 'All Badges', badges_path, class: 'nav-link' %>
    <%= link_to 'User Badges', user_badges_path, class: 'nav-link' %>
    <%= link_to t('.transfer'), admin_tests_path, class: 'nav-link' %>
  </div>
<% end %>
