<table>
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.questions') %></th>
    <th colspan="3"><%= t('.actions') %></th>
  </tr>

  <%= render @tests %>

  <td><%= link_to t('.new_test') , new_admin_test_path %></td>

</table>
