<h2><%= @test.title %></h2><hr>
  <div>
    <p><%= t('.level') %> <%= @test.level %></p>
    <p><%= t('.category') %> <%= @test.category.title %></p>
    <p><%= t('.published') %>: <%= @test.published %></p>
  </div>

  <table>
    <th><%= t('.questions') %></th>
    <th colspan="3"><%= t('.actions') %></th>
    <%= render @questions %>
  </table>

<p>
  <%= link_to t('.back'), admin_tests_path, class: "btn btn-secondary btn-sm" %>
  <%= link_to t('.new_question'), new_admin_test_question_path(@test), 
              class: "btn btn-secondary btn-sm" %>
  <%= link_to t('.edit_test'), edit_admin_test_path(@test), class: "btn btn-secondary btn-sm" %>
</p>
