<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <div class='nav'>
        <p>
          Welcome to <%= link_to 'Guru', root_path %> <b><%= current_user.name %></b>
        </p>

        <p>
          <%= link_to 'Exit', logout_path, method: :post %>
        </p>
      </div>
    <% else %>
      <p class='nav'>
        <%= link_to 'Signup', signup_path %>
        <%= link_to 'Login', login_path %> 
      </p>
    <% end %>

    <%= yield %>
    
    <%= render 'shared/footer' %>
  </body>
</html>
